* {
    margin: 0;
}
body {
    background-image: url(./img/daniel-sinoca-aanclsb0su0-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
#self-pic {
    width: 203;
    height: 314;
    float: left;
}
.introduction {
    text-align: center;
}

