@font-face {
    font-family: 'good-times';
    src: url(./good\ times\ rg.otf);
}
* {
    margin: 0;
}
body {
    background-image: url("./img/ezgif-3-aaf98d6236.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.introduction img{
    /* text-align: center; */
    width: 15%;
    float: left;
    color:white;
    transition-duration:1s;

}
.introduction img:hover{
    scale: 1.5;
    transform: rotate(360deg);

}
.introduction h2 {
font-size: 20px;
text-align: center;
color:white;
font-family: good-times;
}
.introduction h1 {
    font-size: 40px;
    text-align: center;
    color:white;
    font-family: good-times;
    }
.para {

    margin-top:110px;
    /* margin-left:-100px ; */
    font-size: 18px;
    color:white;
    font-family: good-times;


}
.para img {
    margin-top: -70px;
    margin-left: 200px;

}
section {
    color:white;
}