* {
    margin: 0;
    box-sizing: border-box;

}
body {
    /* background-image: url("./img/photo-1563372949-0483fa40e5da.avif"); */
    /* background-image: url("./img/giphy.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 0;
    padding-bottom: auto;
    background-attachment: fixed;
}
/* nav {
    width: 100%;
    background: #0B7189;
    display: flex;
    background: rgb(117,226,100);
    background: linear-gradient(90deg, rgba(117,226,100,1) 34%, rgba(44,171,144,1) 73%);
    opacity: 30%;
    
} */
.navbar-top {
    width: 100%;
    padding: 30px;
    font-size: 30px;
    
}
/* Position Right on Nav */
.navbar-top li{
    display: flex;
    float: right;
    padding-inline: 10px;
    text-decoration: none;
}
/* .navbar-top a {
    color: rgb(255, 255, 255);
} */
h1 {
    text-align: center;
}
a:link, a:visited{
    color: #1900ff;
    background-color: transparent;
    text-decoration: none; 
}
a:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: rgb(0, 255, 0);
    background-color: transparent;
    text-decoration: none;
}
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.top-header {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}