* {
    margin: 0;
    box-sizing: border-box;

}
body {
    background-image: url("./img/daniel-sinoca-aanclsb0su0-unsplash.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 0;
    padding-bottom: auto;
    background-attachment: fixed;
}
nav {
    width: 100%;
    background: #0B7189;
    display: flex;
}
.navbar-top {
    width: 100%;
    padding: 10px;
}
/* Position Right on Nav */
.navbar-top li{
    display: flex;
    float: right;
    padding-inline: 10px;
}
.navbar-top a {
    color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
}